:root {
  --main-bg: rgb(17, 27, 33);
  --bg-1: rgb(32, 44, 51);
  --bg-2: rgb(42, 57, 66);

  --textColor: rgb(233, 237, 227);
  --blackAndWhite: black;
  --bg-gradient: rgb(49, 76, 87);
  --card-bg: rgb(42, 57, 66, 0.7);
  --card-body-bg: rgb(42, 57, 66, 0.96);
  --card-header-bg: rgb(29, 39, 46);
}
body {
  background-color: black;
  color: white;
}
.App {
  text-align: center;
}
.img-project {
  width: 100%;
  height: 250px;
}
.home-intro {
  height: 100vh;
  align-items: center;
  background-color: rgb(32, 44, 51);
  color: white;
}
.about {
  text-align: center;
  min-height: 30vh;
  /* background-color: rgb(42, 57, 65); */
  /* color: white; */
}
.about-info {
  background-color: rgb(32, 44, 51);
  color: white;
  border-radius: 5px;
  padding: 10px;
  height: 250px;
}
.img-profile {
  height: 300px;
  width: 300px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0px 20px 19px black;
}
.img-about {
  height: 250px;
  width: 400px;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: 0px 20px 19px black;
}
.skills {
  background-color: rgb(32, 44, 51, 0.97);
  color: white;
  padding-bottom: 15px;
}
.card {
  border: none;
  box-sizing: border-box;
  background-color: rgb(24, 29, 35) !important;
  border-radius: 5px;
  position: relative;
  min-height: 32vh !important;
  /* color: black; */
}
.card-header {
  background-color: var(--card-header-bg) !important;
  padding: 15px 0 !important;
}

.card p {
  color: rgb(180, 180, 180);
  font-size: 0.8em;
  text-align: start;
}
.card-body-proj {
  color: white !important;
}
.card-body-proj span {
  font-size: 0.8em;
}
